/*****************************************************
*  CSS declarations go here
*  Naming Convention BEM -->  http://getbem.com/naming/
*  Reset --> https://github.com/richclark/HTML5resetCSS/blob/master/reset.css
*  Typo styles --> https://github.com/visualgui/prowebtype/blob/gh-pages/portfolio/style.css
******************************************************/

/* ============ RESET ============ */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ============ GLOBAL ============ */

body {
  font: 100%/1.6 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  padding: 2em;
  text-align: left;
}

/* Styling links*/

a {
	color: #ee2418;
	text-decoration:none;
	transition: all .5s ease;
	}
a:visited {
	color: #ee2418;
	}

a:hover {
	color: #000;
	}

/* Making images responsive */

img {
	border: 1px solid #f1f1f1;
	height: auto;
	margin-top: 1em;
	width: 100%;
	}


h1, h2, h3 {
	font-weight: 900;
	margin:0;
	padding:0;
	}

h1 {
	font-size: 2.5em; /*40px*/
	line-height:1.1;
	}


a h3,
a:visited h3,
h1 a,
h1 a:visited {
	color: #444;
	}

a:hover h3,
h1 a:hover {
	color: #ee2418;
	}

h2 {
	font-size: 1.875em; /*30px*/
	margin-top: .5em;
	text-transform: uppercase;
}

h3 {
	font-size: 1.25em; /* 20px*/
	margin: 1.5em 0 0 0;
	line-height:1;
	}

/* ============ GOLBAL ELEMENTS ============ */

.section__headline {
  border-left: 10px solid #2196F3;
  padding-left: 20px;
}
/* ============ DASHBOARD PAGE ============ */

.dashboard-section__headline {
  color: #2196F3;
}
/* ============ ASSIGNMENT ROW COMPONENT ============ */
/* ============ ASSIGNMENT TABLE COMPONENT ============ */
/* ============ ASSIGNMENT PAGE ============ */


/* ============ FOOTER ============ */

.footer__heart {
  color: red;
}

/* ============ ============  BREAKPOINTS ============  ============  ====== */

/*640px*/

@media only screen and (min-width: 40em)   {

body {
	max-width:58.75em; /*940px*/
	}

h1 {
	font-size: 6.25em; /*100px*/
	line-height: 1.15;
	margin-bottom:.2em;
	}

h2 {
	font-size: 2.500em; /*40px*/
	}

h3 {
	font-size: 2.313em; /*37px*/
	}

} /* end of 640px media */
