@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

* {
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  height: 80px;
  padding: 20px;
  color: white;
}

.logo-name, #eatyme {
  height: 80px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 20px;
}
#eatyme:hover {
  cursor: pointer;
}

.App-logo {
  height: 75px;
  float: right;
  margin-top: 0px;
  margin-bottom: 20px;
}

.App-logo:hover {
  cursor: pointer;
}

.App-intro {
  font-size: xx-large;
  color: white;
  float: right;
  text-align: left;
  margin-bottom: 0px;
}

.phone {
  height: 700px;
  width: auto;
  float: left;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.buttons, .stores {
  text-align: center;
}

.button-docs, .button-get-app {
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  margin: 150px 50px 0 0;
  padding: 15px 45px;
  font-size: 28px;
  line-height: 1.8;
  box-shadow: none;
  border-radius: 25px;
  background: Transparent; 
  color: white;
}

.button-docs:hover, .button-get-app:hover {
  background: rgba(255,255,255,0.5);
  color: black;
  cursor: pointer;
}

.button-docs {
  margin-right: 15px;
}
.button-get-app {
  margin-left: 15px;
}

.footer {
  margin-top: 120px;
  margin-bottom: 0px;
  font-size: 25px;
}